<app-nab-recu-pass></app-nab-recu-pass>

  <div class="form">
    <div class="forceColor"></div>
    <div class="topbar">
      
      <div class="spanColor"></div>
      <label class="lblTitle">Gmail</label>
      <input  class="input"  [(ngModel)]="email.to" placeholder="Gmail"/>
      <p class="alert" *ngIf="gmailVac">Gmail vacío</p>
      <p class="alert" *ngIf="gmailNoVali">Correo no valido</p>
      <label class="lblTitle">Ingrese Código</label>
      <input class="input"  placeholder="Código Verificación"/>
      <p class="alert" *ngIf="codeVac">Código vacío</p>

    </div>
    <button class="submit" id="submit" >Generar Clave</button>
    <label class="lblTitleCode" *ngIf="lblSendCode">Revise el código en su bandeja o spam</label>
    <button class="submit" id="submit" (click)="sendCode()" >Enviar Código</button>
  </div>

