<app-nab-recu-pass></app-nab-recu-pass>

  <div class="form">
    <div class="forceColor"></div>
    <div class="topbar">
      
      <div class="spanColor"></div>
      <label class="lblTitle">Gmail</label>
      <input  class="input" [ngStyle]="{ 'background-color': inputGmail ? '#ddd' : '#fff' }" [(ngModel)]="email.to" placeholder="Gmail"[disabled]="inputGmail" />
      <p class="alert" *ngIf="gmailVac">Gmail vacío</p>
      <p class="alert" *ngIf="gmailNoVali">Correo no valido</p>
      <label class="lblTitle" *ngIf="packCode">Ingrese Código</label>
      <input class="input"  placeholder="Código Verificación" *ngIf="packCode" #inputCode  [(ngModel)]="codeIntr" />
      <p class="alert" *ngIf="lblcodeVac">Código vacío</p>

    </div>
    <button class="submit" id="submit" *ngIf="btnGenerarCla" #btnCodeVer [disabled]="blocBtnCodeVer" (click)="StyelBtbCode()">Ingresar código</button>
    <label class="lblTitleCode" *ngIf="lblSendCode">Revise el código en su bandeja o spam</label>
    <button class="submit" id="submit" (click)="sendCode()" *ngIf="btnSendCode" >Enviar Código</button>
    <label class="multiline-label">{{ textPasNew }}</label>
  </div>

