<app-header></app-header>
<br>
<br>
<div class="container">
    <br>
    <div class="row text-left py-3">
        <div class="col-lg-6 m-auto" *ngIf="userLoged" >
            <h1 class="h2">Perfil de {{userName}} </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="./assets/img/userr.png" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8" >
                    <div class="card-body">
                        <h4 class="card-title">Detalles de la cuenta</h4>
                        <p class="card-text">Nombre de usuario</p>
                        <h5 class="card-title">{{ usuario.nombreUsuario }}</h5> <!-- Muestra el nombre de usuario del usuario actual -->
                        <p class="card-text">Correo electrónico</p>
                        <h5 class="card-title">{{ usuario.email }}</h5> <!-- Muestra el correo electrónico del usuario actual -->
                      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-6">
            <form>
                <div class="form-floating">
                    <input type="text" class="form-control" id="username" placeholder="Usuar234" name="username"
                      [(ngModel)]="userData.nombreUsuario" required> <!-- Vincula el campo de entrada a la propiedad nombreUsuario del objeto userData -->
                    <label for="username">Nombre de usuario:</label>
                  </div>
                  <br>
                  <div class="form-floating">
                    <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email"
                      [(ngModel)]="userData.email" required> <!-- Vincula el campo de entrada a la propiedad email del objeto userData -->
                    <label for="email">Correo electrónico:</label>
                  </div>
                <br>
                <div class="form-floating">
                    <input type="password" class="form-control" id="currentPassword" placeholder="Contraseña actual" name="currentPassword"
                        [(ngModel)]="userData.currentPassword" required> <!-- Vincula el campo de entrada a la propiedad currentPassword del objeto userData -->
                    <label for="currentPassword">Contraseña actual:</label>
                </div>
                <br>
                <div class="form-floating">
                    <input type="password" class="form-control" id="newPassword" placeholder="Nueva contraseña" name="newPassword"
                        [(ngModel)]="userData.newPassword" required> <!-- Vincula el campo de entrada a la propiedad newPassword del objeto userData -->
                    <label for="newPassword">Nueva contraseña:</label>
                </div>
                <br>
                <div class="form-floating">
                   <!--- <a href="https://github.com/"> dcakdnmcklddsjc </a>-->
                </div>
                <br>
                <br>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <button class="btn btn-success me-md-2" type="submit" (click)="onSubmit()">Editar perfil</button> <!-- Llama al método onSubmit() cuando se hace clic en el botón -->
                    <button class="btn btn-danger btn-sm" type="button"(click)="onCancel()" >Cancelar</button>
                </div>
            </form>
        </div>
        
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>