<app-header></app-header>
<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Registro</h2>
    </div>
    <div class="row clearfix">
      <div class="">
        <form>
          <!--USUARIO -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="user"
              id="userReg"
              name="userReg"
              disabled
            />
            <label for="userReg">Nombre de Usuario</label>
          </div>
          <!--email -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="gmail"
              id="gmailReg"
              name="gmailReg"
              disabled
            />
            <label for="gmailReg">Correo Electrónico</label>
          </div>
          <!--NOMBRE -->
          <div class="form-floating mb-3">
            <input
              #contNom
              type="email"
              class="form-control"
              [(ngModel)]="modeloPersona.nombre"
              id="regUsu"
              name="regUsu"
              required
            />
            <label for="regUsu">Nombre</label>
          </div>
          <label class="alertClass" *ngIf="bolNomVac">Nombre no válido</label>
          <!--APELLIDOS -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="regApe"
              name="regApe"
              #contApe
              [(ngModel)]="modeloPersona.apellido"
            />
            <label for="regApe">Apellidos</label>
          </div>
          <label class="alertClass" *ngIf="bolApeVac"
            >Apellidos no válidos</label
          >
          <!--CEDULA -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="regCedu"
              name="regCedu"
              #contCedu
              [(ngModel)]="modeloPersona.dniPasaporte"
            />
            <label for="regCedu">Cl. Identidad</label>
          </div>
          <label class="alertClass" *ngIf="bolCeduVac">Cédula no válida</label>
          <!--TELEFONO -->
          <div class="row clearfix separacion">
            <div class="col_half">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="regTel"
                  name="regTel"
                  placeholder="opcional"
                  #contTele
                  [(ngModel)]="modeloPersona.telefono"
                />
                <label for="regTel">Teléfono</label>
              </div>
              <label class="alertClassDoble" *ngIf="bolTelVac"
                >Teléfono no válido</label
              >
            </div>
            <div class="col_half">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="regMov"
                  name="regMov"
                  #contMov
                  required
                  [(ngModel)]="modeloPersona.celular"
                />
                <label for="regMov">Móvil</label>
              </div>
            </div>
            <label class="alertClassDoble" *ngIf="bolMovVac"
                >Móvil no válido</label
              >
          </div>
          <div class="row clearfix">
            <label class="alertClass" *ngIf="bolConRepVac"
              >Las contraseñas no coinciden</label
            >
            <label class="alertClass" *ngIf="bolConForm"
              >La contraseña de tener al menos 6 y máximo de 12 caracteres
              además de contener una letra mayúscula, una minuscula, un número y
              un simoolo -/:()&@</label
            >
            <div class="col_half">
              <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control"
                  id="regContra"
                  name="regContra"
                  #contContra
                  [(ngModel)]="modeloUsuario.contrasenia"
                />
                <label for="regContra">Contraseña</label>
              </div>
            </div>
            <div class="col_half">
              <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control"
                  id="regRepContr"
                  name="regRepContr"
                  #contRepContra
                  required
                  [(ngModel)]="repContra"
                />
                <label for="regRepContr">Repita Contraseña</label>
              </div>
            </div>
            <div class="col_half">
              <div class="form-floating mb-3">
                <span class="ico"></span>
                <input
                  type="date"
                  class="form-control"
                  id="regFechaNac"
                  name="regFechaNac"
                  #contFechaNac
                  [(ngModel)]="modeloPersona.fechaNac"
                />
                <label for="regFechaNac">Fecha Nacimiento</label>
              </div>
              <label class="alertClass" *ngIf="bolFecNac"
                >No es mayor a 18 años</label
              >
            </div>
          </div>
          <br />

          <div class="input_field checkbox_option">
            <input type="checkbox" id="cb1" />
            <label for="cb1">Estoy de acuerdo con lo términos y condiciones</label>
          </div>
          <br />
          <p class="alertClass" *ngIf="bolGenVac">Complete todos los campos</p>
          <br />
          <input
            class="button"
            type="submit"
            (click)="validarVacDatos()"
            value="Registrarse"
          />
        </form>
      </div>
    </div>
  </div>
</div>
