<div class="form_wrapper">
    <div class="form_container">
        <div class="title_container">
            <h2>Registro</h2>
        </div>
        <div class="row clearfix">
            <div class="">
                <form>
                    
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="text"  [(ngModel)]="user" name="userReg" disabled  />
                        <label class="labelDatosIngreIndi" >Usuario</label>
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="text"  [(ngModel)]="gmail" name="gmailReg" disabled  />
                        <label class="labelDatosIngreIndi">Correo</label>
                    </div>

                    <label class="alertClass" *ngIf="bolNomVac">Nombre no valido</label>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input #contNom type="email" name="regUsu" placeholder="Nombre" [(ngModel)]="modeloPersona.nombre"/>
                        
                        <label class="labelDatosIngreIndi">Nombre </label> 
                    </div>
                    <label class="alertClass" *ngIf="bolApeVac">Apellidos no validos</label>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="text" name="regApe" placeholder="Apellido1 Apellido2" #contApe [(ngModel)]="modeloPersona.apellido" />
                        <label class="labelDatosIngreIndi">Apellido</label>
                    </div>
                    <label class="alertClass"  *ngIf="bolCeduVac">Cédula no valida</label>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="text" name="regCedu" #contCedu [(ngModel)]="modeloPersona.dniPasaporte"/>
                        <label class="labelDatosIngreIndi">Cédula</label>
                    </div>
                    <div class="row clearfix separacion">
                        
                        <div class="col_half">
                            <label class="alertClassDoble" *ngIf="bolTelVac">Telefono no valido</label>
                            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input type="text" name="regTel" placeholder="opcional" #contTele [(ngModel)]="modeloPersona.telefono" />
                                <label class="labelDatosIngreDoble">Telefono</label>
                            </div>
                        </div>
                        <div class="col_half">
                            <label class="alertClassDoble" *ngIf="bolMovVac">Móvil no valido</label>
                            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input type="text" name="regMov" #contMov required [(ngModel)]="modeloPersona.celular"/>
                                <label class="labelDatosIngreDoble">Móvil</label>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <label class="alertClass" *ngIf="bolConRepVac" >Las contraseñas no coinciden</label>
                        <label class="alertClass" *ngIf="bolConForm">La contraseña de tener al menos 6 y máximo de 12 caracteres además de contener una letra mayúscula, una minuscula, un número y un simobolo -/:()&@</label>
                        <div class="col_half">
                            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input type="password" name="regContra"  #contContra [(ngModel)]="modeloUsuario.contrasenia"/>
                                <label class="labelDatosIngreDoble">Contraseña</label>
                            </div>
                        </div>
                        <div class="col_half">
                            
                            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input type="password" name="regRepContr" #contRepContra required [(ngModel)]="repContra" />
                                <label class="labelDatosIngreDoble">Repita Contraseña</label>
                            </div>
                        </div>
                        <div class="col_half">
                            <label class="alertClass" *ngIf="bolFecNac">No es mayor a 18 años</label>
                            <div class="input_field"><span class="ico"></span>
                                <input type="date" class="calendario" name="regFechaNac" #contFechaNac [(ngModel)]="modeloPersona.fechaNac" />
                                <label class="labelDatosFechaNac">Fecha Nacimiento</label>
                            </div>
                        </div>
                    </div>
                   
                    <div class="input_field checkbox_option">
                        <input type="checkbox" id="cb1">
                        <label for="cb1">I agree with terms and conditions</label>
                    </div>
                    <div class="input_field checkbox_option">
                        <input type="checkbox" id="cb2">
                        <label for="cb2">I want to receive the newsletter</label>
                    </div>
                    <p class="alertClass" *ngIf="bolGenVac" >Llene los campos</p>
                    <input class="button" type="submit" (click)="validarVacDatos()" value="Registrarse" />
                </form>
            </div>
        </div>
    </div>
</div>
<p class="credit">Developed by <a href="https://www.facebook.com/1497676421/videos/898064254137607/" target="_blank">GT618</a></p>
<app-footer class="foot"></app-footer>