<div class="container">
    <div class="card text-center">
        <div class="modal-header text-center">
            <h3 class="text-center"><b>Lista de Reservas</b></h3>
        </div>
        <br />

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>FECHA</th>
                    <th>USUARIO</th>
                    <th>FECHA INICIO</th>
                    <th>FECHA FIN</th>
                    <th>OBSERVACIONES</th>
                    <th>ESTADO</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let reserva of listReservas; index">
                    <td>{{reserva.pedFechaEnvioSolicitud }}</td>
                    <td>{{ reserva.pedEmailUsuario }}</td>
                    <td>{{ reserva.pedFechaInicio }}</td>
                    <td>{{ reserva.pedFechaFin }}</td>
                    <td>{{ reserva.pedObservacion }}</td>
                    <td>{{ reserva.estado }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>