<div _ngcontent-ygo-c128 class="container">
  <div _ngcontent-ygo-c128 class="modal-body">
    <div _ngcontent-kqj-c128 class="card-header" *ngIf="salon != null">
      <br /><br />
      <div class="modal-header text-center">
        <h3 class="text-center">
          <b>Detalle del Salón {{ salon.nombre }}</b>
        </h3>
      </div>
      <br />
      <div class="card-footer">
        <ul class="list-group">
          <li class="list-group-item">
            <b>Dirección: </b>{{ salon.direccion }}
          </li>
          <li class="list-group-item">
            <b>Capacidad: </b>{{ salon.capacidad }}
          </li>
          <li class="list-group-item">
            <b>Descripción: </b>{{ salon.descripcion }}
          </li>
          <li class="list-group-item">
            <b>Disponibilidad: </b>
            <input
              class="form-switch"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
              *ngIf="salon.disponibilidad"
              checked
              disabled
            />
          </li>
          <li class="list-group-item">
            <b>Precio: </b>{{ salon.precioSalon }}
          </li>
        </ul>
      </div>
      <br />
      <div class="card text-center">
        <br /><br />
        <div class="modal-header text-center">
          <h3 class="text-center"><b>Lista de Complementos</b></h3>
        </div>
        <br />

        <table class="table table-striped">
          <thead>
            <tr>
              <th>NOMBRE</th>
              <th>DESCRIPCIÓN</th>
              <th>CANTIDAD</th>
              <th>PRECIO UNITARIO</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let group of salon.complementos">
              <td>{{ group.nombre }}</td>
              <td>{{ group.descripcion }}</td>
              <td>{{ group.cantidadBase }}</td>
              <td>{{ group.precioUnitario }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br /><br /><br />
      <div class="card-footer">
        <div class="botones">
          <div class="row">
            <div class="col d-grid gap-2">
              <button
                type="button"
                class="btn btn-success"
                (click)="validateUserLogedAndShowModalView()"
              >
                Reservar <i class="pi pi-check"></i>
              </button>
            </div>
            <div class="col d-grid gap-2">
              <button type="button" class="btn btn-primary" (click)="cancel()">
                Volver
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ventana-emergente" [ngClass]="{ visible: modalView }">
  <div _ngcontent-ygo-c128 class="container">
    <div class="modal-content">
      <br /><br />
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reservas</h5>
      </div>
      <br /><br />
      <div class="modal-body">
        <div class="row">
          <!--
          <div class="col-auto">
            <label for="cantidad" class="form-label">Cantidad</label>
            <input
              type="number"
              class="form-control"
              id="cantidad"
              [value]="cantidad"
              [(ngModel)]="cantidad"
            />
          </div>-->
          <div class="col-auto">
            <label for="fechainicio" class="form-label"
              >Fecha Inicio Reserva</label
            >
            <input
              type="date"
              class="form-control"
              id="fechainicio"
              name="fechainicio"
              [(ngModel)]="fechainicio"
            />
          </div>
          <div class="col-auto">
            <label for="fechafin" class="form-label">Fecha Fin Reserva</label>
            <input
              type="date"
              class="form-control"
              id="fechafin"
              name="fechafin"
              [(ngModel)]="fechafin"
            />
          </div>
          <div class="col-auto">
            <label for="estadoPago" class="form-label">Estado de Pago</label>
            <input
              type="text"
              readonly
              class="form-control"
              id="estadoPago"
              value="Pendiente"
            />
          </div>
          <div class="col-auto">
            <label for="observacion" class="form-label"
              >Acotaciones Reserva</label
            >
            <input
              type="text"
              class="form-control"
              id="observacion"
              [value]="observacion"
              [(ngModel)]="observacion"
              pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+"
              title="Solo se permiten caracteres alfabéticos"
              required
            />
          </div>
        </div>
        <br /><br />
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Detalle del Pedido</h3>
        </div>
        <div class="row" style="margin: 5px 5px">
          <div class="col-auto">
            <label class="form-label" for="complemento"
              >Selección del Complemento</label
            >
            <select
              class="form-control"
              [(ngModel)]="codComplement"
              name="complemento"
              required
              (change)="agregarDetalle($event)"
              style="width: 300px"
            >
              <option
                *ngFor="let opcion of salon.complementos"
                [value]="opcion.idComplemento"
              >
                {{ opcion.nombre }}
              </option>
            </select>
          </div>
          <div class="col-auto">
            <label for="cantidadDetalle" class="form-label"
              >Cantidad del complemento</label
            >
            <input
              type="number"
              class="form-control"
              id="cantidadDetalle"
              [value]="cantidadDetalle"
              [(ngModel)]="cantidadDetalle"
              min="0"
            />
          </div>
          <div class="col-auto">
            <label for="precioUnitario" class="form-label"
              >Precio Unitario</label
            >
            <input
              type="number"
              readonly
              class="form-control"
              id="precioUnitario"
              [value]="precioUnitario"
            />
          </div>
          <div class="col-auto" style="max-width: 10px 5px">
            <button
              type="submit"
              class="btn btn-primary"
              (click)="agregarLista()"
            >
              Agregar
            </button>
          </div>
        </div>
        <br />
        <div class="mb-3 row" style="margin: 5px 5px">
          <label for="preciototal" class="col-sm-2 col-form-label"
            >Precio Total Complementos</label
          >
          <div class="col-sm-10">
            <input
              type="number"
              readonly
              class="form-control"
              id="preciototal"
              [value]="preciototal"
            />
          </div>
        </div>
        <div class="mb-3 row" style="margin: 5px 5px">
          <label for="preciototal" class="col-sm-2 col-form-label"
            >Precio Total Reserva</label
          >
          <div class="col-sm-10">
            <input
              type="number"
              readonly
              class="form-control"
              id="preciototal"
              [value]="preciototalReserva"
            />
          </div>
        </div>
        <br /><br />
        <div class="mb-3 row" style="margin: 5px 5px">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>COMPLEMENTO</th>
                <th>CANTIDAD</th>
                <th>PRECIO UNITARIO</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let detalle of listDetalle">
                <td>{{ detalle.nombreComplemento }}</td>
                <td>{{ detalle.cantidad }}</td>
                <td>{{ detalle.precioUnitario }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer" style="margin: 5px 5px">
        <button
          type="button"
          class="btn btn-danger"
          (click)="modalView = false"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="guardarReserva()"
          style="margin-left: 5px"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
