<app-header></app-header>
<div class="container" *ngIf="!detalle && publicacionSelect === null">
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">MIS SALONES</h1>
                    <p>
                        Aquí puede visualizar todos los salones que usted a publicado.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4" *ngFor="let publicacion of publicaciones; let idx = index">
                    <div class="card h-100">
                        <div [id]="'carouselExampleIndicators' + idx" class="carousel slide" data-bs-ride="carousel"
                            (click)="seleccionarPublicacion(publicacion)">
                            <!-- <div class="carousel-indicators">
                            <button *ngFor="let image of publicacion.images; let i = index" type="button" data-bs-target="'#carouselExampleIndicators' + idx" [attr.data-bs-slide-to]="i" [class.active]="i == 0" [attr.aria-current]="i == 0" [attr.aria-label]="'Slide ' + (i + 1)"></button>
                          </div>-->
                            <div class="carousel-inner">
                                <div *ngFor="let image of publicacion.images; let i = index" class="carousel-item"
                                    [class.active]="i == 0">
                                    <img [src]="'data:image/jpeg;base64,' + image" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <!-- <button class="carousel-control-prev" type="button" data-bs-target="'#carouselExampleIndicators' + idx" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="'#carouselExampleIndicators' + idx" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        -->
                        </div>
                        <div class="card-body" (click)="seleccionarPublicacion(publicacion)">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">${{publicacion.salonDto.precioSalon}}</li>
                            </ul>
                            <p class="h2 text-decoration-none text-dark">{{publicacion.salonDto.nombre}}</p>
                            <p class="card-text">
                                {{publicacion.salonDto.descripcion}}
                            </p>
                            <div class="d-flex justify-content-end gap-2">
                                <p class="align-right">
                                    <button class="btn btn-light btn-sm"
                                        (click)="eliminarSalon2(publicacion.salonDto.idSalon)">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </p>
                                <p class="align-right">
                                    <button class="btn btn-dark btn-sm"
                                        (click)="eliminarSalon(publicacion.salonDto.idSalon)">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </p>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="container" *ngIf="detalle && publicacionSelect !== null">
    <app-salon-detalle [publicacionSelect]="publicacionSelect" (close)="close($event)"></app-salon-detalle>
</div>